

#mainGrid{
    margin-top:4%;
    margin-left:10%;
    margin-right:10%}

#chapter{
    padding-top:20%;

}

TextField{

    border-width: 0 0 2 0;
    border-bottom-color: lightgray
}

#ch{
    color: black;
    font-size: 20pt;
    margin-bottom: 10px;

}

Button{font-size: 24pt}